@import 'variables';
@import 'bootstrap';
@import 'bootswatch';

/* Fixes for fixed navbar --------------------------*/

body {
  position: relative;
  padding-top: 110px;
}

.section h1, .section h2, .section h3, .section h4 {
  padding-top: 80px;
  margin-top: -60px;
}

/* Table of contents --------------------------*/

#tocnav {
  position: fixed;
  top: 120px;
  padding: 40px;

  -webkit-transition: top, .33s;
  -o-transition: top, .33s;
  transition: top, .33s;

  h2 {
    font-size: 1.5em;
  }

  @media screen and (max-width: 991px) {
    display: none;
  }
}

.shrink-header #tocnav {
  top: 30px;
}

/* tidyverse link ------------------- */

.navbar-brand-container {
  position: relative;
  min-width: 200px;
}

.tidylink {
  position: absolute;
  top: 70px;
  left: 74px;
  font-size: 12px;
  color: #555;

  -webkit-transition: all, .25s;
  -o-transition: all, .25s;
  transition: all, .25s;

  @media screen and (max-width: 768px) {
    left: 89px;
  }
}
