<div class="tidyverse">
  <p>{{#package}}{{name}}{{/package}} is a part of the <strong>tidyverse</strong>, an ecosystem of packages designed with common APIs and a shared philosophy. Learn more at <a href="http://tidyverse.org">tidyverse.org</a>.</p>
</div>

<div class="author">
  <p>Developed by {{#package}}{{{authors}}}{{/package}}.</p>
  <p>Site built by <a href="http://pkgdown.r-lib.org">pkgdown</a>.</p>
</div>

<script async src="https://www.googletagmanager.com/gtag/js?id=UA-115082821-1"></script>
<script>
 window.dataLayer = window.dataLayer || [];
 function gtag(){dataLayer.push(arguments);}
 gtag('js', new Date());

 gtag('config', 'UA-115082821-1');
</script>
