// Headings ----------------------------------------------------
// Use smaller headings with more vertical space

h2 {
  @include font-size(1.8rem);
  margin-top: 2rem;
}
h3 {
  @include font-size(1.5rem);
  margin-top: 1.5rem;
}
h4 {
  @include font-size(1.2rem);
  font-weight: bold;
  margin-top: 1.2rem;
}

h2, h3, h4, h5, h6 {
  margin-bottom: 1rem;
}

// Lists ---------------------------------------------------------
ol, ul {
  padding-left: 1.5rem;
}
ul {
  list-style-type: disc;
}

// Give top-level lists some margin between bullets. This only affects
// "compact" lists because of margin-collapsing
li {
  margin-bottom: 0.25rem;
  li { margin-bottom: 0; }
}

// Give nested lists a little breathing room
ul ul, ol ol, ul ol, ol ul {
  margin: 1rem 0;
}
