$faint-background: #f9f9f9 !default;
$faint-border: #efefef !default;

$navbar-background: $faint-background !default;
$footer-background: $faint-background !default;

// Headings ----------------------------------------------------
// Use smaller headings with more vertical space

h2 {
  @include font-size(1.8rem);
  margin-top: 2.5rem;
}
// Reduce margin of first h2 on page
.contents .page-header + .section h2 {
  margin-top: 1rem;
}

h3 {
  @include font-size(1.5rem);
  margin-top: 2rem;
}
h4 {
  @include font-size(1.2rem);
  font-weight: bold;
  margin-top: 1.2rem;
}

h2, h3, h4, h5, h6 {
  margin-bottom: 1rem;
}

.page-header {
  border-bottom: none;
  min-height: 0;
  h1 {margin-top: 3rem}
}

// Home page --------------------------------------------------------------

.template-home {
  .page-header {
    display: flex;
    gap: 1rem;
    align-items: center;
    min-height: 0;
    margin: 2rem 0;
    padding: 2rem 0;
    border-bottom: 1px solid $faint-border;

    h1 {margin-top: 0rem}

    @include media-breakpoint-down(sm) {
      margin: 0.5rem 0;
      padding: 0.5rem 0;
    }
  }
  img.logo {
    margin-left: 0;

    @include media-breakpoint-down(sm) {
      width: 100px;
    }
  }
}

small.roles {
  color: mix($body-color, $body-bg, 80%);
}


// Navbar -----------------------------------------------------------------

nav.navbar {
  border-bottom: 1px solid $faint-border;
  background-color: $navbar-background;
  padding: 1rem 0;
}

.navbar-light .navbar-nav .active > .nav-link {
  background: transparent;
  font-weight: 600;
  color: #444
}

.navbar-light .navbar-nav .nav-item > .nav-link:hover {
  background: transparent;
  text-decoration: underline;
}

.dropdown-menu {
  box-shadow: 0 2px 5px 0 rgba(120,120,120,.1);
}
.dropdown-item {
  &:hover, &:focus {
    background: $body-bg;
    text-decoration: underline;
  }
}

// Sidebar ----------------------------------------------------------------

#pkgdown-sidebar {
  border-left: 1px solid $faint-border;
  margin-top: calc(2rem + #{$pkgdown-nav-height});
  line-height: 1.4;

  h2 {
    font-size: $font-size-base;
    margin-bottom: 0.5rem;
    margin-top: 1.5rem;
    font-weight: bold;
  }
  div:first-child h2 {
    margin-top: 0;
  }
  nav:first-child h2 {
    margin-top: 0;
  }

  .list-unstyled li {
    margin-bottom: 0.5rem;
  }

  @include media-breakpoint-down(sm) {
    margin: 1rem 0 1rem 0;
    padding: 1rem;
    background-color: $faint-background;
    width: 100vw;
    border-top: 1px solid $faint-border;
    border-bottom: 1px solid $faint-border;
  }
}

#toc .nav {
  a.nav-link {
    color: inherit;
    padding: 0.25rem 0;

    &:hover, &:focus {
      text-decoration: underline;
    }
    &.active {
      color: #444;
      font-weight: 600;
    }

    // override pkgdown default
    &:hover, &:focus, &.active {
      background-color: $body-bg;
    }
  }
}

// Footer -------------------------------------------------------------
footer {
  margin-top: auto; // needed for sticky footer
  margin-bottom: 0;
  border-top: 1px solid $faint-border;
  background-color: $footer-background;
  padding: 1.25rem 0; // match visual height of navbar

  p {
    margin-bottom: 0;
  }

  .container {
    display: flex;
  }
  @include media-breakpoint-down(sm) {
    .container {
      flex-direction: column;
      row-gap: 1rem;
    }
  }

}

// Add margin to bottom of contents, since we can't add it to
// footer
.contents {
  margin-bottom: 5rem;
}
@include media-breakpoint-down(sm) {
  .contents {margin-bottom: 0}
}

// Tweak sticky footer since in tidytemplate the
// footer is outside of the .container
body {
  min-height: 0;
  height: 100%;
  display: flex;
  flex-direction: column;

  & > .container {
    min-height: 0;
    flex-shrink: 0;
  }
}


// Code ---------------------------------------------------------
pre, code {
  border: none;
  background-image: linear-gradient(-160deg, #f8f8f8 0, #f1f1f1 100%);
}

pre code {
  background: transparent;
}

// Lists ---------------------------------------------------------
ol, ul {
  padding-left: 1.5rem;
}
ul {
  list-style-type: disc;
}

// Give top-level lists some margin between bullets. This only affects
// "compact" lists because of margin-collapsing
.contents {
  li {
    margin-bottom: 0.25rem;
    li { margin-bottom: 0; }
  }

  // Give nested lists a little breathing room
  ul ul, ol ol, ul ol, ol ul {
    margin: 0.5rem 0;
  }
}

